@charset "UTF-8";

/*
Typical Devices Breakpoints

Pequenas telas 600px
Celular 600 até 768px
Tablet 768 ate 992px
Desktop 992 ate 1200px
Grandes Telas acima de 1200px
*/

@media screen and (min-width: 768px) {
    i{
        display: none !important;
    }

    menu{
        display: inline-block;
        width: 100%;
        margin: 0px;
        text-align: left;
    }

    a{
        text-align: center;
        width:6vw;
        margin: 0px;
    }
    li{
        display: inline-block;
    }
    main{
        width: 700px;
    }
}