@charset "UTF-8"; 
 
    *{
            margin: 0px;
            padding: 0px;
        }

        body{
            background-color: lightgray;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        header{
            background-color: gray;
        }
        
        h1{
            text-align: center;
        }
        i{
            color: white;
            text-align: center;
            background-color: black;
            margin: 20px 50% 0px;
            transform: translate(-50%, -50%);
            width: 40vw;
            height: 4vh;
            cursor: pointer;
        }

        main{
            width: 90vw;
            margin: 10px;
            padding-left: 20px;
            margin-top: 10px;
            background-color: white;
            border-radius: 10px;
        }

        menu{
            display: none;
        }

        ul{
            list-style-type: none;
            margin: 0px;
          }

         a{
            margin: auto;
            margin-top: 0px;
            width: 36vw;
            height: 4vh;
            display: block;
            padding: 5px;
            text-decoration: none;
            color: white;
            font-weight: bolder;
            text-align: center;
            background-color: darkslategray;
            border-top: 2px solid white;
         } 

         a:hover{
            background-color: lightgray;
            transition-duration: 0.5s;
         }

         article{
            padding-bottom: 10px;
         }